*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    overflow-x: hidden
    
}

body{
    background: rgb(255, 136, 0);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 6rem;
    border-bottom: 0.1rem solid rgb(0, 0, 0);
    position: fixed;
    top: 0rem; left: 0rem; right: 0rem;
    background-color: rgb(0, 0, 0);
}

.logo img{
    height: 10rem;
}

.header a{
    margin: 1rem;
    font-size: 2rem;
    color:rgb(255, 255, 255);
}

